html, body { margin: 0; padding: 0 }

.wrapper {
    display: flex;
    /* max-width: 1170px;
    margin: 0 auto; */
    height: 100vh;
}

.form_order {
    margin: auto;
    fieldset {
        border: 1px solid #ccc;
        padding: 15px 50px;
        max-width: 400px;
    }
    .form-text {
        color: #f57676;
    }

    .error, .success {
        color: #495057;
        background-color: #fff;
        border-color: #ffabab;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(245, 86, 86, 0.25);
    }

    .success {
        border-color: #aefa9b;
        box-shadow: 0 0 0 0.2rem rgba(126, 228, 58, 0.25);
    }
}

.mx-datepicker {
    width: 100% !important;
}
pre {
    max-width: 350px;
    white-space: normal;
}