<template>
  <div class="wrapper">
    <div class="form_order">
      <fieldset>
        <legend>Форма заказа</legend>
        <form @submit="checkForm" method="post">
          <div class="form-group">
            <label for="fio">ФИО/наименование</label>
            <textarea type="text" name="fio" v-model="fio" id="fio" :class="checkFieldClass('fio')"></textarea>
            <small class="form-text">{{ checkFio() }}</small>
          </div>
          <div class="form-group">
            <label for="inn">ИНН</label>
            <input type="text" name="inn" v-model="inn" id="inn" :class="checkFieldClass('inn')">
            <small class="form-text">{{ checkInn() }}</small>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" v-model="email" :class="checkFieldClass('email')" id="email">
            <small class="form-text">{{ checkEmail() }}</small>
          </div>
          <div class="form-group">
            <label for="phone">Телефон</label>
            <masked-input v-model="phone" mask="\+\7 (111) 111-1111" type="tel" :class="checkFieldClass('phone')"/>
            <small class="form-text">{{ checkPhone() }}</small>
          </div>
          <div class="form-group">
            <label for="order_date">Дата заказа</label><br>
            <date-picker id="order_date" placeholder="12.09.2018" :clearable="false" :editable="false" lang="ru" 
                         v-model="order_date" :input-class="checkFieldClass('order_date')" format="DD.MM.YYYY" />
            <small class="form-text">{{ checkDate() }}</small>
          </div>

          <button type="submit" class="btn btn-primary"> Отправить </button>
          <button type="button" @click="clearAll" class="btn btn-danger float-right"> Очистить </button>
        </form>
      </fieldset>
      <br>
      <pre>
        {{ resultJson }}
      </pre>
    </div>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
import MaskedInput from 'vue-masked-input'
export default {
  name: "app",
  components: {
    DatePicker, MaskedInput
  },
  data() {
    return {
      valid: {
        fio: false,
        inn: false,
        phone: false,
        email: false,
        order_date: false
      },
      fio: '',
      inn: '',
      email: '',
      phone: '',
      order_date: '',
      toJson: {},
      resultJson: ''
    }
  },
  created: function() {
    let now = new Date();
    this.order_date = now.setDate(now.getDate() + 1);
  },
  
  methods: {
    checkFio() {
      if (!this.fio.length || this.fio.length > 200 ) {
        this.valid.fio = false; //сие действо в computed вызывает ошибку
        return 'Введите ФИО/Наименование до 200 символов';
      } else this.valid.fio = true;

    },
    checkInn() {
      if ( isNaN(+this.inn) ) {
        this.valid.inn = false;
        return 'ИНН может содержать только цифры!';
      } else if (this.inn.length < 10 || this.inn.length > 12) {
        this.valid.inn = false;
        return 'Введите ИНН от 10 до 12 символов';
      } else this.valid.inn = true;
      
    },
    checkPhone() {
      if (this.phone.split(/\d/).length-1 !== 11) {
        this.valid.phone = false;
        return 'Введите корректный номер';
      } else this.valid.phone = true
    },
    checkEmail() {
      return !this.email ? (this.valid.email = false, 'Введите email') 
             : (this.valid.email = true, '')
    },
    checkDate() {
      return !this.order_date ? (this.valid.order_date = false, 'Выберите дату') 
             : (this.valid.order_date = true, '')
    },
    checkFieldClass(field) {
      return this.valid[field] ? 'form-control success' : 'form-control error'
    },
    checkForm(e) {
      e.preventDefault();
      if (this.valid.fio && this.valid.inn && this.valid.phone && this.valid.order_date != '' && this.valid.email !== '') {
        let order_date = new Date(this.order_date);
        this.toJson['name'] = this.fio;
        this.toJson['INN'] = this.inn;
        this.toJson['email'] = this.email;
        this.toJson['telephone'] = this.phone;
        this.toJson['date_order'] = order_date.getDate() + '.' + (order_date.getMonth()+1) + '.' + order_date.getFullYear();
        this.resultJson = JSON.stringify(this.toJson);
      }
    },
    clearAll() {
      this.fio = '';
      this.inn = '';
      this.email = '';
      this.phone = '';
      this.order_date = '';
    }
  }
};
</script>

<style lang="scss" src="./sass/main.scss"></style>
